.cartItem{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.cartItemDetails{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.cartItemDetails button{
    width: 70%;
    background-color: rgb(184, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}