*{
    transition: ease-in-out 0.2s;
}

:root{
    background-color: black;
    font: 1em sans-serif;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rgb(19, 19, 19);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p{
    font-size: 0.7rem;
    color: gray;
}

.modeButton{
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin-left: 15px;
}

.cartButton{
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    display: none;
    margin-right: 15px;
    margin-left: 15px;
}

.cartButton.active{
    color: rgb(7, 218, 0);
}

.cartButtonFake{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
}

.itemCountOnButton{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 15vh;
    background-color: rgb(19, 19, 19);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: gray;
}

@media (max-width: 700px) {
    header .cartButton{
        display: block;
    }
    header .cartButtonFake{
        display: none;
    }
}